body {
  background-color:cadetblue;
}

h1 {
  font-size: 7vw;
  color:white;
  margin:5%;
}

p{
  color:white;
}

li {
  color:white;
  margin-left:5%;
  font-size:2vw;
  list-style:circle;
}

h2 {
  color:white;
  font-size:5vw;
  margin-left:5%;
  margin-top: 2%;
  margin-bottom: 2%;
}