body {
  background-color:cadetblue;
}

h1 {
  font-size: 15vw;
  color:white;
  margin:5%;


}

p{
  color:white;
}

li {
  color:beige;
  margin:5%;
  font-size:5vw;
}

h2 {
  color:white;
  font-size:10vw;
  margin:5%;

}